<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <% include partials/page/head.ejs %>
</head>
<body>
<% include partials/page/header.ejs %>
<h1><%= title %></h1>
<div>
  The front part of the tongue touches the hard palate behind the upper gum ridge, as for the English sound 'ch' in 'church'. [\]
</div>
<img src="/images/CGroup.jpg" />
<% include partials/letterTemplate.ejs %>

<% include partials/page/footer.ejs %>
<% include partials/page/bottomscript.ejs %>
</body>
</html>
