<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <% include partials/page/head.ejs %>
</head>
<body>
<% include partials/page/header.ejs %>
<h1><%= title %></h1>

<% include partials/letterTemplate.ejs %>

<% include partials/page/footer.ejs %>
<% include partials/page/bottomscript.ejs %>
</body>
</html>
