<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <% include partials/page/head.ejs %>
</head>
<body>
<% include partials/page/header.ejs %>
<h1><%= title %></h1>
<div>
  Outgoing breath is stopped in the mouth, but it goes on escaping through the nose during this hold phase.
  All these consonants are voiced. [*]
</div>
<% include partials/letterTemplate.ejs %>

<% include partials/page/footer.ejs %>
<% include partials/page/bottomscript.ejs %>
</body>
</html>
