<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <% include partials/page/head.ejs %>
</head>
<body>
<% include partials/page/header.ejs %>
<h1><%= title %></h1>
<div>
  The tongue curls back and the underside of the tongue touches the part of the palate behind the gum ridge. There are no equivalent sounds in English.
  It is important to use the underside of the tongue for all the sounds of this group. [|]
</div>
<img src="/images/TailGroup.jpg" />
<% include partials/letterTemplate.ejs %>

<% include partials/page/footer.ejs %>
<% include partials/page/bottomscript.ejs %>
</body>
</html>
