<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <% include partials/page/head.ejs %>
</head>
<body>
<% include partials/page/header.ejs %>
<h1><%= title %></h1>
<div>
  The tip of the tongue touches the teeth. Do not try to pronounce the sounds of this group by touching the gum ridge as you do for the pronunciation of the English 't' or 'd'. [-]
</div>
<img src="/images/TGroup.jpg" />
<% include partials/letterTemplate.ejs %>

<% include partials/page/footer.ejs %>
<% include partials/page/bottomscript.ejs %>
</body>
</html>
