<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <% include partials/page/head.ejs %>
</head>
<body>
<% include partials/page/header.ejs %>
<h1><%= title %></h1>
<div>
  Vocal cords vibrate and make a buzzing sound called 'voice'. The force of breath is light and the sounds are not aspirated. [10]
</div>
<% include partials/letterTemplate.ejs %>

<% include partials/page/footer.ejs %>
<% include partials/page/bottomscript.ejs %>
</body>
</html>
