<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <% include partials/page/head.ejs %>
</head>
<body>
<% include partials/page/header.ejs %>
<h1><%= title %></h1>
<div>
  Breathy voice is a combination of voice and aspiration. While aspiration need not be very here, it should be clearly audible.
  The IPA symbol '' marks breathy voice or the presence of a tone, depending on which variety of Panjabi you wich to choose as your model of pronunciation. [11]

</div>
<% include partials/letterTemplate.ejs %>

<% include partials/page/footer.ejs %>
<% include partials/page/bottomscript.ejs %>
</body>
</html>
