<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <% include partials/page/head.ejs %>
</head>
<body>
<% include partials/page/header.ejs %>
<h1><%= title %></h1>
<div>
  The English 'p' and 'k' consonants are lightly aspirated. They are pronounced with a light puff of air.
  But the Panjabi sounds in this row are unaspirated. You have to control the force of your breath carefully.
  The stream of breath passes through the throat without creating any 'voice' or the buzzing sound made by vibrating vocal cords. [00]
</div>
<% include partials/letterTemplate.ejs %>

<% include partials/page/footer.ejs %>
<% include partials/page/bottomscript.ejs %>
</body>
</html>
